
@{
    ViewData["Title"] = "First";
}

<h1>First</h1>

@section Scripts
{
<script>

    const theDiv = document.request
    const xhr = new XMLHttpRequest()

    xhr.responseText

    xhr.open("GET", "/api/index")
    xhr.send();
</script>

}