@{
    ViewData["Title"] = "Home Page";
}
@section Styles
{
    <style>
        h1 {
            color: green
        }
    </style>

 }

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <ul id="Ul">
        <li>Mac</li>
    </ul>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
@section Scripts
{
    <script>
        console.log("Hello Json!!")

        var emp = {
            "employees": [
                { "name": "Tom", "workYears": 3, "salary": 35000 },
                { "name": "Jack", "workYears": 5, "salary": 40000 },
                { "name": "Mary", "workYears": 7, "salary": 45000 }
            ]
        };
        const theUl = document.querySelector("#Ul")
        const docFrag = document.createDocumentFragment()

        for (let i = 0, max = emp.length; i < max; i++) {
            //console.log(emp.employees[i].name);
            //console.log(emp.employees[i].workYears);
            //console.log(emp.employees[i].salary);


            const { name, workYears, salary } = emp.employees[i]
            const txtLi = document.createTextNode(name + "," + workYears)
            const eleLi = document.createElement("li")
            eleLi.appendChild(txtLi)
            docFrag.appendChild(eleLi);
        }
        theUl.appendChild(docFrag)
    </script>
}
